<h1>Reasons I want to Learn Rails</h1>
<p>I work as an Internet Project Manager at a company called RR Donnelley. I graduated in English and have gotten into the IT side of things at work. I want to better my chances of getting another job.</p>